In [1]:
import pandas as pd

In [8]:
url = "https://docs.google.com/spreadsheets/d/1bTNuLS7_URVMA5JGOF6fYngXyRPa2ylnJHJ7HCjEYvo/export/format=xlsx"


file = pd.ExcelFile(url)

In [9]:
print(file)

<pandas.io.excel._base.ExcelFile object at 0x11be35a90>

In [10]:
file.sheet_names

['group1', 'group 2', 'group 3', 'group4', 'group 5', 'group6', 'group 7']

In [11]:
# creating empty list of dataframes

dfs = []


# iterating over each sheet
for sheet in file.sheet_names:
    df = file.parse(sheet)
    dfs.append(df)

In [23]:
lego_df = pd.concat(dfs, ignore_index=True)

In [24]:
lego_df

,id,color,is duplo?,size type,base shape,base dimensions,number of studs,has slope?,slope degree,in stock,group
0,size_type + base shape + base dimensions + num...,red,yes,brick,rectangular,4 x 2,8,no,na,1,1
1,NaN,blue,yes,brick,rectangular,4 x 2,8,no,na,1,1
2,NaN,medium_azure,yes,plate,rectangular,4 x 2,8,no,na,1,1
3,4,medium_dark_pink,yes,brick,square,2 x 2,4,no,na,1,1
4,5,yellow,yes,brick,square,2 X 2,4,no,na,1,1
...,...,...,...,...,...,...,...,...,...,...,...
151,16,blue,no,plate,square,2x4,4,no,na,yes,7
152,17,lightblue,no,plate,rectangular,1x2,2,no,na,yes,7
153,18,orange,no,brick,rectangular,2x4,8,no,na,yes,7
154,19,grey,no,plate,rectangular,1x2,2,no,na,yes,7
155,20,grey,no,plate,circular,2x2,4,no,na,yes,7

In [25]:
lego_df = lego_df.drop(columns ="id")

,color,is duplo?,size type,base shape,base dimensions,number of studs,has slope?,slope degree,in stock,group
0,red,yes,brick,rectangular,4 x 2,8,no,na,1,1
1,blue,yes,brick,rectangular,4 x 2,8,no,na,1,1
2,medium_azure,yes,plate,rectangular,4 x 2,8,no,na,1,1
3,medium_dark_pink,yes,brick,square,2 x 2,4,no,na,1,1
4,yellow,yes,brick,square,2 X 2,4,no,na,1,1
...,...,...,...,...,...,...,...,...,...,...
151,blue,no,plate,square,2x4,4,no,na,yes,7
152,lightblue,no,plate,rectangular,1x2,2,no,na,yes,7
153,orange,no,brick,rectangular,2x4,8,no,na,yes,7
154,grey,no,plate,rectangular,1x2,2,no,na,yes,7
155,grey,no,plate,circular,2x2,4,no,na,yes,7

In [26]:
lego_df

,id,color,is duplo?,size type,base shape,base dimensions,number of studs,has slope?,slope degree,in stock,group
0,size_type + base shape + base dimensions + num...,red,yes,brick,rectangular,4 x 2,8,no,na,1,1
1,NaN,blue,yes,brick,rectangular,4 x 2,8,no,na,1,1
2,NaN,medium_azure,yes,plate,rectangular,4 x 2,8,no,na,1,1
3,4,medium_dark_pink,yes,brick,square,2 x 2,4,no,na,1,1
4,5,yellow,yes,brick,square,2 X 2,4,no,na,1,1
...,...,...,...,...,...,...,...,...,...,...,...
151,16,blue,no,plate,square,2x4,4,no,na,yes,7
152,17,lightblue,no,plate,rectangular,1x2,2,no,na,yes,7
153,18,orange,no,brick,rectangular,2x4,8,no,na,yes,7
154,19,grey,no,plate,rectangular,1x2,2,no,na,yes,7
155,20,grey,no,plate,circular,2x2,4,no,na,yes,7

In [27]:
list_columns = list(lego_df.columns)

In [ ]:
for column in list_columns:
    print(lego_df[column].nunique())

In [37]:
for column in list_columns:
    print(f"the number of unique values in this {column} is {lego_df[column].nunique()}")

the number of unique values in this id is 25
the number of unique values in this color is 41
the number of unique values in this is duplo? is 3
the number of unique values in this size type is 9
the number of unique values in this base shape is 15
the number of unique values in this base dimensions is 28
the number of unique values in this number of studs is 6
the number of unique values in this has slope? is 5
the number of unique values in this slope degree is 5
the number of unique values in this in stock is 5
the number of unique values in this group is 7

In [54]:
slice_df = lego_df.iloc[50:100,:]

In [55]:
slice_df = slice_df.reset_index(drop=False)

In [67]:
slice_df.index = range(1, len(slice_df)+1)
slice_df = slice_df.reset_index(drop=False)

In [61]:
slice_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 1 to 50
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            50 non-null     int64
 1   id               48 non-null     object
 2   color            50 non-null     object
 3   is duplo?        50 non-null     object
 4   size type        50 non-null     object
 5   base shape       50 non-null     object
 6   base dimensions  50 non-null     object
 7   number of studs  50 non-null     int64
 8   has slope?       50 non-null     object
 9   slope degree     50 non-null     object
 10  in stock         50 non-null     object
 11  group            50 non-null     int64
dtypes: int64(3), object(9)
memory usage: 4.8+ KB

In [64]:
slice_df["index"] = slice_df["index"].astype(str)

In [65]:
slice_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 1 to 50
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            50 non-null     object
 1   id               48 non-null     object
 2   color            50 non-null     object
 3   is duplo?        50 non-null     object
 4   size type        50 non-null     object
 5   base shape       50 non-null     object
 6   base dimensions  50 non-null     object
 7   number of studs  50 non-null     int64
 8   has slope?       50 non-null     object
 9   slope degree     50 non-null     object
 10  in stock         50 non-null     object
 11  group            50 non-null     int64
dtypes: int64(2), object(10)
memory usage: 4.8+ KB